<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Item</title>
</head>
<body>
    <h2><%=data.brand%> - <%=data.name%></h2>
    <h3>Harga : <%=data.price%></h3>
    <h4>Barang Tersedia : <%=data.stock%> Unit</h4>
    <img src="<%=data.imageUrl%>" alt="">
    <h5>Deskripsi :</h5>
    <p><%=data.description%></p>
    <br><br>
    <a href="/cashier/<%=cashierId%>">
        <button>Back</button>
    </a>
</body>
</html>