<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>
    <h2><%=data.brand%> - <%=data.name%></h2>
    <h3>Kategori : <%=data.Category.category%></h3>
    <h3>Harga : <%=data.price%></h3>
    <img src="<%=data.imageUrl%>" alt="" style="width: 500;">
    <h3>Sisa Barang : <%=data.stock%></h3>
    <h3>Deskripsi : </h3>
    <div>
        <p><%=data.description%></p>
    </div>


</body>
</html>