<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        </style>
<%- include('partials/linkstyling.ejs') %>
</head>
<body>
    <%- include('partials/navbarLogin.ejs') %>
    <br><br>
    <table border="1" id="customers">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Pendidikan</th>
            <th>email</th>
            <th>Divisi</th>
            <th>-----</th>
        </tr>
        <%data.forEach((e, i) => {%>
        <tr>
                <td><%=i +1%></td>
                <td><%=e.Profile.fullName%></td>
                <td><%=e.Profile.age(e.Profile.dateOfBirth)%></td>
                <td><%=e.Profile.education%></td>
                <td><%=e.email%></td>
                <td><%=e.role%></td>   
                <td>
                    <a href="/employee/<%=e.id%>/edit"><button>Edit</button></a>
                    <a href="/employee/<%=e.id%>/delete"><button>Delete</button></a>
                </td>   
            </tr>
        <%})%>
    </table>
</body>
</html>