<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computiv8 Store</title>
</head>
<body>
    <h1>Hello!</h1>
    <h4> Name Pelayan : <%=cashier[0].name%></h4>
    <h4> Name Pembeli : <input type="text"></h4>
    <h4> Cart : 0</h4>
    <hr>
    <h4>Kategori :</h4>
    <table border="1">
        <tr>
            <th>Gambar</th>
            <th>Name Barang</th>
            <th>Merk</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
        <%item.forEach(e => {%>
            <tr>
                <td><img src="<%=e.imageUrl%> " alt="" style="width: 200;"></td>
                <td><%=e.name%></td>
                <td><%=e.brand%></td>
                <td><%=e.price%></td>
                <td>
                    <a href="">
                        <button>Add to Cart</button>
                    </a>
                    <a href="/cashier/<%=cashier[0].id%>/detail/<%=e.id%>">
                        <button>See Detail</button>
                    </a>
                </td>
            </tr>
        <%})%>
    </table>

</body>
</html>