

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        </style>
    <%- include('partials/linkstyling.ejs') %>
</head>
<body>
    <%- include('partials/navbarhomesearch.ejs') %>
    <br><br><br>
    <a href="/warehouse/add/category"><button>Tambah Kategori</button></a>
    <a href="/warehouse/add/product"><button>Tambah Produk</button></a>
    <br><br>
    <table border="1" style="text-align: center;" id="customers">
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Merk</th>
            <th>Harga</th>
            <th>Sisa</th>
            <th>Kategori</th>
            <th>---</th>
        </tr>
        <%data.forEach((el, idx) => {%>
            <tr>
                <td><%=idx + 1%></td>
                <td><%=el.name%></td>
                <td><%=el.brand%></td>
                <td><%=el.price%></td>
                <td><%=el.stock%></td>
                <td><%=el.Category.category%></td>
                <td>
                    <a href="/warehouse/<%=el.id%>/product/edit"><button>edit</button></a>
                    <a href="/warehouse/<%=el.id%>/product/delete"><button>delete</button></a>
                </td>
            </tr>
        <%})%>
    </table>
</body>
</html>